@use "../abstracts" as *;

// Make sure the canvas takes up the whole screen height
html, body, #root, .App {
  height: 100%;
}

body {
  background-image: url("https://source.unsplash.com/fX-qWsXl5x8");
  margin: 0;
  font-family: $font-stack;
  color: $text-colour;
  background-color: $backgroud-colour;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $code-font-stack;
}
