@use "../abstracts" as *;

#root {
  display: flex;
  flex-direction: column;
}

// Make sure the canvas takes up the whole screen height
html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $code-font-stack;
}
