@use "../abstracts" as *;

.grid {
  margin: 1vh 2vw 2vh;
  height: 100%;
  min-width: $min-grid-size;
  min-height: $min-grid-size;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
