@use "../abstracts" as *;

.node {
  width: $node-small-size;
  height: $node-small-size;
  border-radius: $node-border-radius;
  margin: $node-small-margin;
  background-color: $node-background-colour;

  @media screen and (min-width: $screen-breakpoint) {
    width: $node-large-size;
    height: $node-large-size;
    margin: $node-large-margin;
  }

  &.start {
    background-color: $node-start-colour;
  }

  &.target {
    background-color: $node-target-colour;
  }

  &.wall {
    background-color: $node-wall-colour;
  }

  &.queued {
    background-color: $node-queued-colour;
  }

  &.explored {
    background-color: $node-explored-colour;
  }

  &.path {
    background-color: $node-path-colour;
  }
}
