$node-size: 30px;

$node-background-colour: #717f90;
$node-start-colour: #4834d4;
$node-target-colour: #eb4d4b;
$node-wall-colour: #000000;
$node-queued-colour: #f9ca24;
$node-explored-colour: #dff9fb;
$node-path-colour: #6ab04c;

.node {
  width: $node-size;
  height: $node-size;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: $node-background-colour;

  &.start {
    background-color: $node-start-colour;
  }

  &.target {
    background-color: $node-target-colour;
  }

  &.wall {
    background-color: $node-wall-colour;
  }

  &.queued {
    background-color: $node-queued-colour;
  }

  &.explored {
    background-color: $node-explored-colour;
  }

  &.path {
    background-color: $node-path-colour;
  }
}
