// Page and element sizes
$lg-screen-breakpoint: 1200px;
$node-small-margin: 2.0px;
$node-small-size: 20px;
$node-large-margin: 2.2px;
$node-large-size: 22px;
$node-border-radius: 4px;

// Node background colours
$node-background-colour: #ffffff;
$node-start-colour: #396495;
$node-target-colour: #eb4d4b;
$node-wall-colour: #323232;
$node-queued-colour: #f6e682;
$node-explored-colour: #fea42d;
$node-path-colour: #6ab04c;

// Export node size variables for calculations in the React components
:export {
  nodeSmall: $node-small-size + 2 * $node-small-margin;
  nodeLarge: $node-large-size + 2 * $node-large-margin;
}
